{% extends "inicio/encabezado.html" %}
{% block titulo %}Principal{% endblock %}

{% block imagen %}
    {% load static %}
    {% static 'inicio/images/principal.png'%}
{% endblock %}

{% block pag %}Principal{% endblock %}

{% block contenido %}
<div class="page-header">
    <div class="page-title">
        <h3>Bienvenido a CursosDjango</h3>
        <p class="lead">Este sitio está diseñado para ofrecerte los mejores cursos en línea sobre diversos temas tecnológicos.</p>
    </div>
</div>
{% endblock %}